@charset "UTF-8";
.overlay-box, .form-fild__name, .modal, .navigation-list__link::after {
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* глобальний селектор */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: roboto, sans-serif;
}

.color__title {
  color: #212121;
}

.card-set__title,
.projects__title {
  display: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    border: 1px solid red;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1230px) {
  .container {
    width: 1230px;
  }
}

.main__nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* логотип */
.logo {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  padding-top: 16px;
  padding-bottom: 16px;
}
.logo__color-blue {
  color: #2196f3;
}

.logo__color-black {
  color: #212121;
}

/* логотип-футер */
.logo__color-white,
.address {
  color: #ffffff;
}

.button-send,
.hiro-button,
.subscribe__box button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-close {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid;
  border-color: #757575;
  background-color: #ffffff;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover {
  border-color: #2196f3;
}

@media screen and (min-width: 480px) {
  .menu-button {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 10px;
    right: 15px;
    border: none;
    background-color: transparent;
  }
  .menu-button:hover {
    fill: #2196f3;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-button .icon-cross {
    display: none;
  }
  .menu-button.is-open .icon-cross {
    display: block;
  }
  .menu-button.is-open .icon-menu {
    display: none;
  }
}

/* навігація */
.navigation-list__item {
  color: #2196f3;
}
@media screen and (min-width: 480px) {
  .navigation-list__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 480px) {
  .navigation-list {
    padding-top: 48px;
    padding-left: 40px;
    margin-bottom: 302px;
  }
}

.navigation-list__link {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  position: relative;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .navigation-list__link {
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0.02em;
  }
}
.navigation-list__link:hover, .navigation-list__link:focus {
  color: #2196f3;
  cursor: pointer;
}
.navigation-list__link::after {
  content: "";
  background-color: #2196f3;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.navigation-list__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.current {
  color: #2196f3;
}

/* контакти */
@media screen and (min-width: 480px) {
  .contacts-list {
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0.02em;
    padding-left: 40px;
  }
}
@media screen and (min-width: 480px) {
  .contacts-list__item {
    margin-bottom: 32px;
  }
}
.contacts-list__link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: #2196f3;
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .contacts-list__link {
    font-weight: 500;
    font-size: 34px;
    letter-spacing: 0.02em;
  }
}

/* іконки svg */
/* модальне вікно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  padding: 40px;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
}

.button-close__icon {
  fill: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover > .button-close__icon {
  fill: #2196f3;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.modal-text {
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

/* форма */
.form {
  margin-bottom: 30px;
}

.form-fild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  margin-bottom: 10px;
}

.form-fild__label {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
}

.form-fild__name {
  position: absolute;
  top: 17px;
  left: 42px;
  color: #757575;
}

.form-fild__input {
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 11px 42px;
  width: 100%;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* position: relative; */
}
.form-fild__input:hover, .form-fild__input:focus {
  border: 1px solid #2196f3;
}

.form-fild__icon {
  position: absolute;
  top: 16px;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-fild__input:focus ~ .form-fild__icon {
  fill: #2196f3;
}

.form-fild__input:not(:-moz-placeholder-shown) + .form-fild__name {
  transform: translate(-40px, -27px);
  color: #2196f3;
}

.form-fild__input:not(:-ms-input-placeholder) + .form-fild__name {
  transform: translate(-40px, -27px);
  color: #2196f3;
}

.form-fild__input:focus + .form-fild__name,
.form-fild__input:not(:placeholder-shown) + .form-fild__name {
  -webkit-transform: translate(-40px, -27px);
          transform: translate(-40px, -27px);
  color: #2196f3;
}

.form-fild textarea {
  outline: none;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  width: 448px;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-fild textarea:hover, .form-fild textarea:focus {
  border: 1px solid #2196f3;
}

.form-fild__comment {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

/* кастомний checkbox */
.freedom {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.7;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
}
.freedom span {
  margin-right: 4px;
}
.freedom__link-color {
  color: #2196f3;
  text-decoration: underline;
  cursor: pointer;
}

.checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-right: 4px;
}
.checkbox:checked {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url(../images/icon_check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.button-send {
  display: inline-block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-send:hover {
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* .form__fild label {
    justify-content: flex-start;
} */
/* position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
overflow: hidden; */
/* соціальні мережі */
.social-networks {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 30px;
}
.social-networks__list {
  color: #afb1b8;
  background-color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks__list:hover {
  background-color: #2196f3;
  fill: #ffffff;
}
.social-networks__list + .social-networks__list {
  margin-left: 10px;
}

.social-networks__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #afb1b8;
  padding: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks__link:hover {
  fill: #ffffff;
}

.social-netvorks__icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ком,юніті */
.community-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.community-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.community-item__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #757575;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.community-item__list:hover {
  background-color: #2196f3;
}

.community-item__list + .community-item__list {
  margin-left: 10px;
}

.community-item__icon {
  display: block;
  fill: #ffffff;
}

/* підписка */
@media screen and (min-width: 480px) {
  .subscribe {
    text-align: center;
  }
}

.subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .subscribe__title {
    text-align: center;
  }
}
@media screen and (min-width: 1230px) {
  .subscribe__title {
    text-align: left;
  }
}

@media screen and (min-width: 1230px) {
  .subscribe__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 480px) {
  .subscribe__box {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .subscribe__form {
    margin-right: 0;
  }
}
@media screen and (min-width: 1230px) {
  .subscribe__form {
    margin-right: 12px;
  }
}
.subscribe__form input {
  height: 50px;
  padding: 15px 16px;
  background-color: #2f303a;
  caret-color: #ffffff;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .subscribe__form input {
    margin-bottom: 20px;
    width: 450px;
  }
}
@media screen and (max-width: 479px) {
  .subscribe__form input {
    margin-bottom: 30px;
    margin-right: 0;
  }
}
@media screen and (min-width: 1230px) {
  .subscribe__form input {
    width: 358px;
  }
}
.subscribe__form input::-webkit-input-placeholder {
  line-height: 1.2;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__form input::-moz-placeholder {
  line-height: 1.2;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__form input:-ms-input-placeholder {
  line-height: 1.2;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__form input::-ms-input-placeholder {
  line-height: 1.2;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__form input::placeholder {
  line-height: 1.2;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button__icon {
  margin-left: 10px;
  top: 50%;
}

.card-list {
  margin-top: -30px;
  margin-left: -30px;
}
@media screen and (min-width: 768px) {
  .card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.card-list__item {
  border: 1px solid #eee;
}
@media screen and (min-width: 480px) {
  .card-list__item {
    width: 450px;
    -webkit-box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) {
  .card-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1230px) {
  .card-list__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    margin-top: 30px;
    margin-left: 30px;
  }
}
.card-list__item:last-child {
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .card-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card-text__primary {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
}

.card-text__secondary {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.9;
}

/* спливаючий оверлей */
.card-list__thumb {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.card-list__picture {
  display: block;
  width: 100%;
}

.overlay-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2196f3;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  /* opacity: 0; */
}

.card-list__item--product:hover .overlay-box {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  /* opacity: 1; */
}

.overlay-box__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.6;
  position: absolute;
  opacity: 0;
  width: 100%;
  padding: 63px 24px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  color: #ffffff;
}

.card-list__item--product:hover .overlay-box__text {
  opacity: 1;
}

.card-text {
  padding: 20px 24px;
}

/* шапка сайту */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.header-bottom {
  margin-bottom: 95px;
  border-bottom: 1px solid #ececec;
}

/* секція герой */
.hiro {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-photo.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-photo.jpg);
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 95px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .hiro {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .hiro {
    width: 768px;
  }
}
@media screen and (min-width: 1230px) {
  .hiro {
    width: 1230px;
  }
}

.hiro-title {
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .hiro-title {
    font-weight: 900;
    font-size: 26px;
    letter-spacing: 0.06em;
    line-height: 1.62;
  }
}
@media screen and (min-width: 768px) {
  .hiro-title {
    font-weight: 900;
    font-size: 26px;
    letter-spacing: 0.06em;
    line-height: 1.62;
  }
}
@media screen and (min-width: 1230px) {
  .hiro-title {
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.06em;
    line-height: 1.36;
  }
}

/* іноваційні рішення */
.innovations {
  margin-bottom: 95px;
}

.innovations-list__icon {
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  padding: 25px 100px;
}
.innovations-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
  .innovations-list__title {
    display: block;
  }
  .innovations-list__title__title {
    text-align: center;
  }
}
.innovations-list__text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.7;
  margin-bottom: 30px;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .innovations-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .innovations-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
    width: 100%;
  }
  .innovations-list__item:nth-child(2n) {
    margin-right: 0;
  }
  .innovations-list__title {
    text-align: left;
  }
}
@media screen and (min-width: 1230px) {
  .innovations-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .innovations-list__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
  }
}

/* приклади робіт */
.work {
  margin-bottom: 95px;
}

.work-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

@media screen and (min-width: 1230px) {
  .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.work-list__item {
  width: 100%;
  position: relative;
}
@media screen and (max-width: 479px) {
  .work-list__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1230px) {
  .work-list__item:not(:last-child) {
    margin-right: 30px;
  }
}
.work-list .img-thumb::before {
  content: "";
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 70px;
  bottom: 0;
}
.work-list .img-thumb__image {
  display: block;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .work-list .img-thumb__image {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1230px) {
  .work-list .img-thumb__image {
    margin-bottom: 0;
  }
}
.work-list .img-thumb__text {
  display: inline-block;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
  .work-list .img-thumb__text {
    padding: 26px 140px;
  }
}
@media screen and (max-width: 479px) {
  .work-list .img-thumb__text {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .work-list .img-thumb__text {
    padding: 25px 285px;
  }
}
@media screen and (min-width: 1230px) {
  .work-list .img-thumb__text {
    padding: 27px 95px;
  }
}

/* команда професіоналів */
.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

.team-title {
  text-align: center;
  padding-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .team-title {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1230px) {
  .team-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
  }
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
}
.team-list__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .team-list__item {
    margin: 15px;
  }
}
@media screen and (max-width: 767px) {
  .team-list__item:nth-child(4n) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .team-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
  .team-list__item:nth-child(2n) {
    margin: 15px;
  }
}
@media screen and (min-width: 1230px) {
  .team-list__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
    margin: 15px;
  }
}
.team-list__photo {
  width: 100%;
  padding-bottom: 30px;
}
.team-list__primary-text {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
}
.team-list__secondary-text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
  .team-list__secondary-text {
    padding-bottom: 16px;
  }
}

/* постійні клієнти */
.clients-title {
  text-align: center;
  padding-top: 95px;
}
@media screen and (min-width: 480px) {
  .clients-title {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .clients-title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1230px) {
  .clients-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
  }
}

.clients-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
  padding-top: 50px;
  padding-bottom: 95px;
}
@media screen and (max-width: 479px) {
  .clients-list {
    margin: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
.clients-list__item {
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  padding: 16px 32px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__item:hover {
  border-color: #2196f3;
}
@media screen and (min-width: 480px) {
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    text-align: center;
    margin: 15px;
  }
}
@media screen and (max-width: 479px) {
  .clients-list__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    text-align: center;
    margin: 15px;
  }
}
@media screen and (min-width: 1230px) {
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
    margin: 15px;
    text-align: center;
  }
}

.clients-list__icon {
  fill: #afb1b8;
}

/* підвал */
.footer {
  background-color: #2f303a;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 479px) {
  .footer {
    text-align: center;
  }
}
@media screen and (min-width: 1230px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 82px;
    margin-right: 82px;
  }
}
@media screen and (min-width: 1230px) {
  .wrapper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 0;
    margin-right: 82px;
  }
}

@media screen and (min-width: 480px) {
  .footer-contacts {
    text-align: center;
  }
}
@media screen and (min-width: 1230px) {
  .footer-contacts {
    text-align: left;
  }
}

.footer-contacts__link {
  display: inline-block;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .container-address {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 479px) {
  .container-address {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1230px) {
  .container-address {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1230px) {
  .positioning {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.address {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.7;
  margin-bottom: 9px;
  font-style: normal;
}

.footer-list__item {
  margin-bottom: 9px;
}

.footer-list__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.7;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list__link:hover, .footer-list__link:focus {
  color: #2196f3;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .community {
    text-align: center;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 479px) {
  .community {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1230px) {
  .community-title {
    text-align: left;
  }
}

@media screen and (min-width: 480px) {
  .subscribe {
    text-align: center;
  }
}

/* логотип-футер */
/* .logo__color-white,
.address {
    color: var(--white-color);
} */
/* навігація проектів */
.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.projects-list__item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (min-width: 480px) {
  .projects-list__item:not(:last-child):nth-child(-n+3) {
    margin-bottom: 15px;
  }
  .projects-list__item:not(:last-child):nth-last-child(-n+2) {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 480px) {
  .projects-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .projects-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1230px) {
  .projects-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.projects-list__button {
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.6;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list__button:hover, .projects-list__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

/* приклади робіт */
.card-set {
  margin-bottom: 95px;
}

/* /////////////////// кнопка ////////////////// */
.clik {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  width: 170px;
  height: 50px;
  border-radius: 4px;
  border: solid 2px orange;
  padding: 15px 30px;
  margin: 25px;
  background-color: teal;
  color: orange;
}

.clik:hover {
  color: red;
  border: solid 2px red;
}

.clik::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../images/s.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clik:hover::before {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.clik::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 40px;
  background-image: url(../images/mm.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: translateY(calc(-50% + 50px));
          transform: translateY(calc(-50% + 50px));
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clik:hover::after {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navigation-menu__mobile {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 796px;
  margin: 0;
  background-color: #ffffff;
}
.navigation-menu__mobile.is-open {
  display: block;
}

@media screen and (min-width: 480px) {
  .navigation-social__list {
    padding-left: 40px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
}
@media screen and (min-width: 480px) {
  .navigation-social__list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation-social__list__item:not(:last-child) {
    margin-right: 20px;
  }
}
.navigation-social__list__link {
  color: #2196f3;
}
@media screen and (min-width: 480px) {
  .navigation-social__list__link::after {
    content: "";
    position: absolute;
    border: 3px solid rgba(33, 33, 33, 0.2);
    width: 22px;
    height: 2px;
    right: 0;
    top: 0;
  }
}/*# sourceMappingURL=main.css.map */