@charset "UTF-8";
:root {
  --primeri-title-color: #212121;
  --accent-color: #2196f3;
  --background: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --primeri-text-color: #757575;
  --white-color: #ffffff;
  --background-teat-section: #f5f4fa;
  --background-hiro: #c4c4c4;
  --clients-color:#afb1b8;
  --box-shadow-modal: 0 2px 1px 0 rgba(0, 0, 0, 0.2),
  0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0
  rgba(0, 0, 0, 0.12);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --transform: cubic-bezier(0.4, 0, 0.2, 1);
  --primeri-title-color: #212121;
  --accent-color: #2196f3;
  --background: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --primeri-text-color: #757575;
  --button-color: #f5f4fa;
  --white-color: #ffffff;
  --card__set-gap: 30px;
  --transform: cubic-bezier(0.4, 0, 0.2, 1);
}

/* глобальний селектор */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: roboto, sans-serif;
}

.color__title {
  color: var(--primeri-title-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
}

.main__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* логотип */
.logo__color-blue {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__color-black {
  color: var(--primeri-title-color);
}

/* логотип-футер */
.logo__color-white,
.address {
  color: var(--white-color);
}

/* шапка сайту */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
}

.header-bottom {
  margin-bottom: 95px;
  border-bottom: 1px solid #ececec;
}

/* навігація */
.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.navigation-list__item {
  color: var(--accent-color);
}

.navigation-list__link::after {
  content: "";
  background-color: var(--accent-color);
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms var(--transform);
  transition: -webkit-transform 250ms var(--transform);
  transition: transform 250ms var(--transform);
  transition: transform 250ms var(--transform), -webkit-transform 250ms var(--transform);
}

.navigation-list__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list__link {
  display: inline-block;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-transition: color 250ms var(--transform);
  transition: color 250ms var(--transform);
}

.navigation-list__link {
  color: var(--primeri-title-color);
}

.navigation-list__link:hover,
.navigation-list__link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.navigation-list__link,
.contacts-list__link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--transform);
  transition: color 250ms var(--transform);
}

.current {
  color: var(--accent-color);
}

/* контакти */
.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contacts-list .contacts-list__item + .contacts-list__item {
  margin-left: 50px;
}

.contacts-list__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: var(--primeri-text-color);
  padding-top: 50px;
  padding-bottom: 50px;
}

.contacts-list__link:hover,
.contacts-list__link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

/* іконки svg */
.contacts-list__icon {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  fill: currentColor;
  margin-right: 10px;
}

/* секція герой */
.hiro {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-photo.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-photo.jpg);
  background-color: var(--background);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 95px;
  margin-left: auto;
  margin-right: auto;
}

.hiro-title {
  color: var(--white-color);
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.hiro-button {
  background-color: var(--accent-color);
  color: var(--white-color);
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

/* модальне вікно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  z-index: 1;
  /* display: none; */
  -webkit-transition: opacity 250ms var(--transform);
  transition: opacity 250ms var(--transform);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  padding: 40px;
  -webkit-box-shadow: var(--box-shadow-modal);
          box-shadow: var(--box-shadow-modal);
  background-color: var(--white-color);
  -webkit-transition: -webkit-transform 250ms var(--transform);
  transition: -webkit-transform 250ms var(--transform);
  transition: transform 250ms var(--transform);
  transition: transform 250ms var(--transform), -webkit-transform 250ms var(--transform);
}

.button-close {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 5px;
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid;
  border-color: var(--primeri-text-color);
  background-color: var(--white-color);
  -webkit-transition: border-color 250ms var(--transform);
  transition: border-color 250ms var(--transform);
}

.button-close:hover {
  border-color: var(--accent-color);
}

.button-close > .button-close__icon {
  fill: var(--primeri-title-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: fill 250ms var(--transform), -webkit-transform 250ms var(--transform);
  transition: fill 250ms var(--transform), -webkit-transform 250ms var(--transform);
  transition: fill 250ms var(--transform), transform 250ms var(--transform);
  transition: fill 250ms var(--transform), transform 250ms var(--transform), -webkit-transform 250ms var(--transform);
}

.button-close:hover > .button-close__icon {
  fill: var(--accent-color);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.modal-text {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: var(--primeri-title-color);
  margin-bottom: 12px;
}

/* форма */
.form {
  margin-bottom: 30px;
}

/* кастомний checkbox */
.form > .freedom {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primeri-text-color);
}

.checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--primeri-title-color);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  /* position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; */
  margin-right: 4px;
}

.checkbox:checked {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/icon_check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.freedom span {
  margin-right: 4px;
}

.freedom__accent-color {
  color: var(--accent-color);
  text-decoration: underline;
  cursor: pointer;
}

.form-fild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  margin-bottom: 10px;
}

.form-fild__label {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--primeri-text-color);
}

.form-fild__name {
  position: absolute;
  top: 17px;
  left: 42px;
  -webkit-transition: -webkit-transform 250ms var(--transform);
  transition: -webkit-transform 250ms var(--transform);
  transition: transform 250ms var(--transform);
  transition: transform 250ms var(--transform), -webkit-transform 250ms var(--transform);
}

.form-fild__input {
  /* position: relative; */
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 11px 42px;
  width: 100%;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border 250ms var(--transform);
  transition: border 250ms var(--transform);
}

.form-fild__input:hover,
.form-fild__input:focus {
  border: 1px solid var(--accent-color);
}

.form-fild__icon {
  position: absolute;
  top: 16px;
  left: 12px;
  -webkit-transition: fill 250ms var(--transform);
  transition: fill 250ms var(--transform);
}

.form-fild__input:focus ~ .form-fild__icon {
  fill: var(--accent-color);
}

.form-fild__input:focus + .form-fild__icon {
  fill: var(--accent-color);
}

.form-fild__input:not(:-moz-placeholder-shown) + .form-fild__name {
  transform: translate(-40px, -27px);
  color: var(--accent-color);
}

.form-fild__input:not(:-ms-input-placeholder) + .form-fild__name {
  transform: translate(-40px, -27px);
  color: var(--accent-color);
}

.form-fild__input:focus + .form-fild__name,
.form-fild__input:not(:placeholder-shown) + .form-fild__name {
  -webkit-transform: translate(-40px, -27px);
          transform: translate(-40px, -27px);
  color: var(--accent-color);
}

.form-fild textarea {
  outline: none;
  font-size: 12px;
  width: 448px;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border 250ms var(--transform);
  transition: border 250ms var(--transform);
}

.form-fild textarea:hover,
.form-fild textarea:focus {
  border: 1px solid var(--accent-color);
}

.form-fild__comment {
  margin-bottom: 4px;
}

.form-fild textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
}

.form-fild textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
}

.form-fild textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
}

.form-fild textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
}

.form-fild textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
}

.button-send {
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: transparent;
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-transition: -webkit-box-shadow 250ms var(--transform);
  transition: -webkit-box-shadow 250ms var(--transform);
  transition: box-shadow 250ms var(--transform);
  transition: box-shadow 250ms var(--transform), -webkit-box-shadow 250ms var(--transform);
}

.button-send:hover {
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* .form__fild label {
    justify-content: flex-start;
} */
/* іноваційні рішення */
.innovations {
  margin-bottom: 95px;
}

.innovations-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.innovations-list__item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.innovations-list__item:nth-child(4n) {
  margin-right: 0;
}

.innovations-list__icon {
  background-color: var(--background-teat-section);
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  padding: 25px 100px;
}

.innovations-list__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.innovations-list__text,
.address,
.footer-list__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* приклади робіт */
.work {
  margin-bottom: 95px;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-title {
  text-align: center;
  margin-bottom: 50px;
}

.work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
}

.work-list__item:not(:last-child) {
  margin-right: 30px;
}

.work-list__item {
  width: 100%;
  position: relative;
}

.img-thumb::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.img-thumb__image {
  display: block;
  width: 100%;
}

.img-thumb__text {
  display: inline-block;
  position: absolute;
  bottom: 0;
  padding: 27px 95px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

/* команда професіоналів */
.team {
  background-color: var(--background-teat-section);
  padding-top: 95px;
  padding-bottom: 95px;
}

.team-title {
  padding-bottom: 50px;
  margin-right: 30px;
  text-align: center;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.team-list__item {
  width: calc((100% - 90px) / 4);
  background-color: var(--white-color);
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  margin-right: 30px;
}

.team-list__item:nth-child(4n) {
  margin-right: 0;
}

.team-list__photo {
  width: 100%;
  padding-bottom: 30px;
}

.team-list__primary-text {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}

.team-list__secondary-text {
  color: var(--primeri-text-color);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
}

/* соціальні мережі */
.social-networks {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 30px;
}

.social-networks__list {
  color: var(--clients-color);
  background-color: var(--white-color);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--transform);
  transition: background-color 250ms var(--transform);
}

.social-networks__list:hover {
  background-color: var(--accent-color);
  fill: #fff;
}

.social-networks__list + .social-networks__list {
  margin-left: 10px;
}

.social-networks__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: var(--clients-color);
  padding: 12px;
  -webkit-transition: fill 250ms var(--transform);
  transition: fill 250ms var(--transform);
}

.social-networks__link:hover {
  fill: var(--white-color);
}

.social-netvorks__icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* постійні клієнти */
.clients-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 95px;
}

.clients-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 95px;
}

.clients-list__item {
  width: 170px;
  height: 92px;
  border: 1px solid var(--clients-color);
  border-radius: 4px;
  cursor: pointer;
  padding: 16px 32px;
}

.clients-list__item + .clients-list__item {
  margin-left: 30px;
}

.clients-list__icon {
  fill: var(--clients-color);
}

/* постійні клієнти */
.clients-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 95px;
}

.clients-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 95px;
}

.clients-list__item {
  width: 170px;
  height: 92px;
  border: 1px solid var(--clients-color);
  border-radius: 4px;
  cursor: pointer;
  padding: 16px 32px;
}

.clients-list__item + .clients-list__item {
  margin-left: 30px;
}

.clients-list__icon {
  fill: var(--clients-color);
}

/* підвал */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contacts__link {
  display: inline-block;
  margin-bottom: 20px;
}

/* логотип-футер */
/* .logo__color-white,
.address {
    color: var(--white-color);
} */
.container-address {
  margin-right: 70px;
}

.positioning {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.address {
  margin-bottom: 9px;
  font-style: normal;
}

.footer-list__item {
  margin-bottom: 9px;
}

.footer-list__link {
  color: var(--footer-contacts-color);
  -webkit-transition: 250ms color var(--transform);
  transition: 250ms color var(--transform);
}

.footer-list__link:hover,
.footer-list__link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

/* ком,юніті */
.community-title {
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.community-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.community-item__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--primeri-text-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--transform);
  transition: background-color 250ms var(--transform);
}

.community-item__list:hover {
  background-color: var(--accent-color);
}

.community-item__icon {
  display: block;
  fill: var(--white-color);
}

.community-item__list + .community-item__list {
  margin-left: 10px;
}

/* підписка */
.subscribe {
  margin-left: 93px;
}

.subscribe__title {
  margin-bottom: 20px;
}

.subscribe__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.subscribe__form {
  margin-right: 12px;
}

.subscribe__form input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: var(--background);
  caret-color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscribe__form input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}

.subscribe__form input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}

.subscribe__form input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}

.subscribe__form input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}

.subscribe__form input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}

.subscribe__box button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-color: transparent;
}

.button__icon {
  margin-left: 10px;
  top: 50%;
}

/* навігація проектів */
.projects {
  margin-bottom: 50px;
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects-list__item:not(:last-child) {
  margin-right: 8px;
}

.projects-list__button {
  font-family: roboto, sans-serif;
  color: var(--primeri-title-color);
  background-color: var(--button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: background-color 250ms var(--transform), color 250ms var(--transform), -webkit-box-shadow 250ms var(--transform);
  transition: background-color 250ms var(--transform), color 250ms var(--transform), -webkit-box-shadow 250ms var(--transform);
  transition: background-color 250ms var(--transform), color 250ms var(--transform), box-shadow 250ms var(--transform);
  transition: background-color 250ms var(--transform), color 250ms var(--transform), box-shadow 250ms var(--transform), -webkit-box-shadow 250ms var(--transform);
}

.projects-list__button:hover,
.projects-list__button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

/* приклади робіт */
.card-set {
  margin-bottom: 95px;
}

.card-set__title,
.projects__title {
  display: none;
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc(-1 * var(--card__set-gap));
  margin-left: calc(-1 * var(--card__set-gap));
}

.card-text__primary {
  color: var(--primeri-title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-text__secondary {
  color: var(--primeri-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.card-list__item {
  border: 1px solid #eee;
  margin-top: var(--card__set-gap);
  margin-left: var(--card__set-gap);
  -ms-flex-preferred-size: calc(33.3333333333% - var(--card__set-gap));
      flex-basis: calc(33.3333333333% - var(--card__set-gap));
}

.card-list__item:hover {
  -webkit-box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.card-list__picture {
  display: block;
  width: 100%;
}

/* спливаючий оверлей */
.card-list__thumb {
  display: block;
  position: relative;
  overflow: hidden;
}

.overlay-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  /* opacity: 0; */
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--transform);
  transition: -webkit-transform 250ms var(--transform);
  transition: transform 250ms var(--transform);
  transition: transform 250ms var(--transform), -webkit-transform 250ms var(--transform);
}

.card-list__item--product:hover .overlay-box {
  /* opacity: 1; */
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.overlay-box__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  opacity: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  width: 100%;
  padding: 63px 24px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: var(--white-color);
  -webkit-transition: opacity 250ms var(--transform) 250ms;
  transition: opacity 250ms var(--transform) 250ms;
}

.card-list__item--product:hover .overlay-box__text {
  opacity: 1;
}

.card-text {
  padding: 20px 24px;
}

/* /////////////////// кнопка ////////////////// */
.clik {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  width: 170px;
  height: 50px;
  border-radius: 4px;
  border: solid 2px orange;
  padding: 15px 30px;
  margin: 25px;
  background-color: teal;
  color: orange;
}

.clik:hover {
  color: red;
  border: solid 2px red;
}

.clik::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../images/s.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  -webkit-transition: -webkit-transform 300ms var(--transform);
  transition: -webkit-transform 300ms var(--transform);
  transition: transform 300ms var(--transform);
  transition: transform 300ms var(--transform), -webkit-transform 300ms var(--transform);
}

.clik:hover::before {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.clik::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 40px;
  background-image: url(../images/mm.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: translateY(calc(-50% + 50px));
          transform: translateY(calc(-50% + 50px));
  -webkit-transition: -webkit-transform 300ms var(--transform);
  transition: -webkit-transform 300ms var(--transform);
  transition: transform 300ms var(--transform);
  transition: transform 300ms var(--transform), -webkit-transform 300ms var(--transform);
}

.clik:hover::after {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}/*# sourceMappingURL=main.css.map */