/* постійні клієнти */
.clients-title {
    text-align: center;

    @include font(700, 36px, 0.03em);

    padding-top: 95px;
}

.clients-list{
    display: inline-flex;

    text-align: center;

    padding-top: 50px;
    padding-bottom: 95px;

    &__item {
        width: 170px;
        height: 92px;

        border: 1px solid $clients-color;
        border-radius: 4px;

        cursor: pointer;
    
        padding: 16px 32px;
    
        transition: border-color 250ms $cubic-bezier;
    
        &:hover {
            border-color: $accent-color;
        }
    }
}

.clients-list__item + .clients-list__item {
    margin-left: 30px;
}

.clients-list__icon {
    fill: $clients-color;
}