/* підвал */
.footer {
    display:flex;

    background-color: $background;

    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-contacts__link {
    display: inline-block;

    margin-bottom: 20px;
}

.container-address {
    margin-right: 70px;
}

.positioning {
    display: inline-flex
}

.address {
    @include font_lh(400, 14px, 0.03em, 1.7);

    margin-bottom: 9px;
    
    font-style: normal;
}

.footer-list__item {
    margin-bottom: 9px;
}

.footer-list__link {
    color: $footer-contacts-color;

    @include font_lh(400, 14px, 0.03em, 1.7);
    
    transition: color 250ms $cubic-bezier;

    &:hover,
    &:focus {
    color: $accent-color;

    cursor: pointer
    }
}

/* логотип-футер */
/* .logo__color-white,
.address {
    color: var(--white-color);
} */
