/* підвал */
.footer {
    background-color: $background;

    width: 100%;

    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (max-width: 479px) {
        text-align: center;
    }

    @media screen and (min-width: 1230px) {
        display:flex;
    }
}

.wrapper {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        margin-left: 82px;
        margin-right: 82px;
    }

    @media screen and (min-width: 1230px) {
        display: inline-flex;
        margin-left: 0;
        margin-right: 82px;
    }
}

.footer-contacts {
    @media screen and (min-width: 480px) {
        text-align: center;
    }

    @media screen and (min-width: 1230px) {
        text-align: left
    }
}

.footer-contacts__link {
    display: inline-block;

    margin-bottom: 20px;
}

.container-address {
    @media screen and (min-width: 480px) {
        margin-bottom: 60px;
    }

    @media screen and (max-width: 479px) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1230px) {
        margin-right: 70px;
        margin-bottom: 0;
    }
}

.positioning {
    @media screen and (min-width: 1230px) {
       display: inline-flex;
       justify-content: space-between;
   }
}

.address {
    @include font_lh(400, 14px, 0.03em, 1.7);

    margin-bottom: 9px;
    
    font-style: normal;
}

.footer-list__item {
    margin-bottom: 9px;
}

.footer-list__link {
    color: $footer-contacts-color;

    @include font_lh(400, 14px, 0.03em, 1.7);
    
    transition: color 250ms $cubic-bezier;

    &:hover,
    &:focus {
    color: $accent-color;

    cursor: pointer
    }
}

.community {
    @media screen and (min-width: 480px) {
        text-align: center;
        margin-bottom: 60px;
    }

    @media screen and (max-width: 479px) {
        margin-bottom: 30px;
    }
}

.community-title {
    @media screen and (min-width: 1230px) {
        text-align: left;
    }

}

.subscribe {
    @media screen and (min-width: 480px) {
        text-align: center;
    }
}

/* логотип-футер */
/* .logo__color-white,
.address {
    color: var(--white-color);
} */
