/* підвал */
.footer {
    display:flex;

    background-color: $background;

    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-contacts__link {
    display: inline-block;

    margin-bottom: 20px;
}

/* логотип-футер */
/* .logo__color-white,
.address {
    color: var(--white-color);
} */

.container-address {
    margin-right: 70px;
}

.positioning {
    display: inline-flex
}

.address {
    margin-bottom: 9px;

    font-style: normal;
}

.footer-list__item {
    margin-bottom: 9px;
}

.footer-list__link {
    color: $footer-contacts-color;

    transition: 250ms color $transform;
}

.footer-list__link:hover,
.footer-list__link:focus {
    color: $accent-color;
    cursor: pointer;
}