/* секція герой */
.hiro {
    background-image: linear-gradient(
        rgba(0,0,0,0.4), 
        rgba(47,48,58,0.4)),
    url(../images/bg-photo.jpg);
    background-color: $background;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;

    max-width: 1600px;
    height: 600px;
    
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 95px;
    margin-left: auto;
    margin-right: auto;
}

.hiro-title {
    color: $white-color;

    @include font_lh(900, 44px, 0.06em, 1.36);

    padding-bottom: 30px;
}