/* іноваційні рішення */
.innovations {
    margin-bottom: 95px;
}

.innovations-list {
    display: flex;

    &__item {
        width: calc((100% - 90px) / 4);
    
        margin-right: 30px;
    
        &:nth-child(4n) {
            margin-right: 0;
        }
    }

    &__icon {
        background-color: $background-teat-section;
    
        border-radius: 4px;
        width: 270px;
        height: 120px;
    
        margin-bottom: 30px;
        padding: 25px 100px;
    }

    &__title {
        margin-bottom: 10px;

        @include font(700, 14px, 0.03em);
    }

    &__text {
        @include font_lh(400, 14px, 0.03em, 1.7);
    }
}







