/* команда професіоналів */
.team {
    background-color: var(--background-teat-section);

    padding-top: 95px;
    padding-bottom: 95px;
}

.team-title {
    padding-bottom: 50px;
    margin-right: 30px;

    text-align: center;
}

.team-list {
    display: flex;
    text-align: center;
}

.team-list__item {
    width: calc((100% - 90px) / 4);
    background-color: var(--white-color);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);

    margin-right: 30px;

}

.team-list__item:nth-child(4n) {
    margin-right: 0;
}

.team-list__photo {
    width: 100%;

    padding-bottom: 30px;
}

.team-list__primary-text {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;

    padding-bottom: 10px;
}

.team-list__secondary-text {
    color: var(--primeri-text-color);

    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;

    padding-bottom: 30px;
}