/* приклади робіт */
.work {
    margin-bottom: 95px;
}

.work-title {
    text-align: center;

    @include font(700, 36px, 0.03em);

    margin-bottom: 50px;
}

.work-list {

    @media screen and (min-width: 1230px) {
        display: flex;
    }

    &__item {
        width: 100%;

        position: relative;

    @media screen and (max-width: 479px) {
        &:not(:last-child) {
            margin-bottom: 20px;  
        }
    }

    @media screen and (min-width: 1230px) {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.img-thumb::before {
    content:"";

    background-color: $fond-color;

    position: absolute;

    display: inline-block;

    width: 100%;
    height: 70px;

    bottom: 0;
}

.img-thumb__image {
    display: block;

    width: 100%;

    @media screen and (min-width: 480px) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1230px) {
        margin-bottom: 0;
    }
}

.img-thumb__text {
    display: inline-block;

    position: absolute;

    bottom: 0;
    
    text-transform: uppercase;

    color: $white-color;

    @include font(700, 14px, 0.03em);

    @media screen and (min-width: 480px) {
        padding: 26px 140px;
    }

    @media screen and (max-width: 479px) {
        text-align: center;  
        }

    @media screen and (min-width: 768px) {
        padding: 25px 285px;
    }

    @media screen and (min-width: 1230px) {
        padding: 27px 95px; 
    }
}

}

