.card-list {   
    margin-top: -30px;
    margin-left: -30px;

    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    }
    // margin-top: calc(-1 * $card__set-gap);
    // margin-left: calc(-1 * $card__set-gap);

    &__item {
        border: 1px solid #eee;
        
        // margin-top: $card__set-gap;
        // margin-left: $card__set-gap;
    
        // flex-basis: calc(100% / 3 - $card__set-gap);

        // &:hover {
        //     box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 
        //     0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 
        //     rgba(0, 0, 0, 0.12);
        // }

        @media screen and (min-width: 480px) {
            width: 450px;

            box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 
            0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 
            rgba(0, 0, 0, 0.12);

            margin-top: 30px;
            margin-left: 30px;
        }

        @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 60px) / 2);

            margin-top: 30px;
            margin-left: 30px;
        }

        @media screen and (min-width: 1230px) {
            flex-basis: calc((100% - 90px) / 3);

            margin-top: 30px;
            margin-left: 30px;
        }

        &:last-child {
            margin-right: auto;
        }
    }

    @media screen and (min-width: 480px) {
        justify-content: center;
    }
}

.card-text__primary {
    color: $primeri-title-color;

    @include font_lh(700, 18px, 0.06em, 2);
}

.card-text__secondary {
    color: $primeri-text-color;

    @include font(400, 16px, 0.03em);

    line-height: 1.9;
}
