/* ком,юніті */
.community-title {
    color: $white-color;

    @include font(700, 14px, 0.03em);

    text-transform: uppercase;

    margin-bottom: 20px;
}

.community-item{
    display: inline-flex;

    &__list {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    
        background-color: $primeri-text-color;
    
        width: 44px;
        height: 44px;

        border-radius: 50%;
        
        cursor: pointer;
    
        transition: background-color 250ms $cubic-bezier;
    }

    &__list:hover {
        background-color: $accent-color;
    }
}

.community-item__list + .community-item__list {
    margin-left: 10px;
}

.community-item__icon {
    display: block;
    
    fill: $white-color;
}
