/* контакти */
.contacts-list {
    display: flex;

    margin-left: auto;

    & .contacts-list__item + .contacts-list__item {
        margin-left: 50px;
    }

    &__link {
        display: inline-flex;
        align-items: center;
        text-decoration: none;

        @include font(500, 14px, 0.02em);
    
        color: $primeri-text-color;
    
        padding-top: 50px;
        padding-bottom: 50px;
    
        &:hover,
        &:focus {
        color: $accent-color;

        cursor: pointer;
        }
    }
}



/* іконки svg */
.contacts-list__icon {
    fill: currentColor;
    
    margin-right: 10px;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}