/* логотип */
.logo {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
}

.logo__color-blue {
    color: $accent-color;
}

.logo__color-black {
    color: $primeri-title-color;
}

/* логотип-футер */
.logo__color-white,
.address {
    color: $white-color;
}
