/* логотип */
.logo {
    font-family: raleway, sans-serif;

    @include font(700, 26px, 0.03em);
}

.logo__color-blue {
    color: $accent-color;
}

.logo__color-black {
    color: $primeri-title-color;
}

/* логотип-футер */
.logo__color-white,
.address {
    color: $white-color;
}
