/* навігація */
.navigation-list {
    display: flex;

    margin-left: 93px;

    &__item {
        color: $accent-color;
    }

    &__item:not(:last-child) {
        margin-right: 50px;
    }
}

.navigation-list__link {
    display: inline-block;

    @include font(500, 14px, 0.02em);

    position: relative;

    color: $primeri-title-color;

    padding-top: 50px;
    padding-bottom: 50px;

    transition: color 250ms $cubic-bezier;

    &:hover,
    &:focus {
    color: $accent-color;

    cursor: pointer;
    }

    &::after {
    content:"";
    background-color: $accent-color;

    display: block;

    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;

    border-radius: 2px;

    transform: scaleX(0);
    @extend %transition;

    }

    &:hover::after {
        transform: scaleX(1);
    }
}

.current {
    color: $accent-color;
}