/* навігація */
.navigation-list {
    &__item {
        color: $accent-color;

        @media screen and (min-width: 480px) {
            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }
    }

    @media screen and (min-width: 480px) {

        padding-top: 48px;
        padding-left: 40px;
        margin-bottom: 302px;
        // display: flex;

        // margin-left: 93px;
    
    
        // &__item:not(:last-child) {
        //     margin-right: 50px;
        // }   
    }
}

.navigation-list__link {
    display: inline-block;

    @include font(500, 14px, 0.02em);

    position: relative;

    color: $primeri-title-color;

    @media screen and (min-width: 480px) {
        @include font(500, 40px, 0.02em);
    }

    // padding-top: 50px;
    // padding-bottom: 50px;

    transition: color 250ms $cubic-bezier;

    &:hover,
    &:focus {
    color: $accent-color;

    cursor: pointer;
    }

    &::after {
    content:"";
    background-color: $accent-color;

    display: block;

    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;

    border-radius: 2px;

    transform: scaleX(0);
    @extend %transition;
    }

    &:hover::after {
        transform: scaleX(1);
    }
}

.current {
    color: $accent-color;
}

