/* спливаючий оверлей */
.card-list__thumb {
    display: block;
    position: relative;
    overflow: hidden;
}

.overlay-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $accent-color;

    /* opacity: 0; */
    
    transform: translateY(100%);

    transition: transform 250ms $transform;
}

.card-list__item--product:hover .overlay-box {
    /* opacity: 1; */
    transform: translateY(0);

    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 
    0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 
    rgba(0, 0, 0, 0.12);
}

.overlay-box__text {
    display: flex;
    position: absolute;

    opacity: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;

    width: 100%;
    padding: 63px 24px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: $white-color;

    transition: opacity 250ms $transform 250ms;
}

.card-list__item--product:hover .overlay-box__text {
    opacity: 1;
}

.card-text {
    padding: 20px 24px;
}