/* соціальні мережі */
.social-networks {
    display: inline-flex;

    margin-bottom: 30px;

    &__list {
        color: $clients-color;
        background-color: $white-color;
    
        display: inline-flex;
        justify-content: center;
        align-items: center;

        width: 44px;
        height: 44px;
    
        border-radius: 50%;
    
        transition: background-color 250ms $cubic-bezier;
    }

    &__list:hover {
        background-color: $accent-color;

        fill: $white-color;
    }

    &__list + &__list {
        margin-left: 10px;
    }
}

.social-networks__link {
    display: flex;

    fill: $clients-color;
    
    padding: 12px;

    transition: fill 250ms $cubic-bezier;

    &:hover {
        fill: $white-color;
    }
}

.social-netvorks__icon {
    align-items: center;
}
