/* підписка */
.subscribe {
    // margin-left: 93px;
    @media screen and (min-width: 480px) {
        text-align: center;
    }
}

.subscribe__title {
    margin-bottom: 20px;

    @include font(700, 14px, 0.03em);

    @media screen and (min-width: 768px) {
        text-align: center;
    }

    @media screen and (min-width: 1230px) {
        text-align: left;
    }
}

.subscribe__box {
    @media screen and (min-width: 1230px) {
        display: flex;
        flex-direction: row;
    }

    @media screen and (min-width: 480px) {
        text-align: center;
    }
}

.subscribe__form {
    @media screen and (max-width: 479px) {
        margin-right: 0;
    }

    @media screen and (min-width: 1230px) {
        margin-right: 12px;;
    }

    & input {
        height: 50px;

        padding: 15px 16px;
        
        background-color: $background;
        caret-color: $white-color;
        color: $white-color;
    
        border: 1px solid $footer-contacts-color;
        border-radius: 4px;

        @media screen and (min-width: 480px) {
            margin-bottom: 20px;
            width: 450px;
        }

        @media screen and (max-width: 479px) {
            margin-bottom: 30px;
            margin-right: 0;
        }

        @media screen and (min-width: 1230px) {
            width: 358px;
        }
    }

    & input::placeholder {
        line-height: 1.2;

        @include font(400, 16px, 0.03em);
 
        color: $footer-contacts-color;
    }
}

.subscribe button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button__icon {
    margin-left: 10px;

    top: 50%;
}