.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;

    @media screen and (min-width: 480px) {
        width: 480px;
        border: 1px solid red;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }
    
    @media screen and (min-width: 1230px) {
        width: 1230px;
    }
}

.main__nav {
    position: relative;

    display: flex;

    flex-direction: row;
    
    // align-items: center;
    }